@font-face {
	font-family: "Yekan";
	src: url("../../fonts/BYekan.ttf") format("truetype"),
		url("../../fonts/BYekan.eot") format("eot"),
		url("../../fonts/BYekan.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Yekan";
}
body {
	background-color: #ffbf69;
	padding: 120px;
}
.txt {
	font-size: 20px;
}
.container1 {
	width: 400px;
	background-color: white;
	text-align: center;
	margin: auto;
	padding: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}
form input {
	font-size: 15px;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 5px 20px;
	padding: 20px 10px;
	outline: 0;
	color: #6e6e6e;
	border-radius: 5px;
}
.submit-btn {
	font-size: 20px;
	/* margin: 10px 10px; */
	padding: 10px 140px;
	border: none;
	background-color: #ff9f1c;
	border-radius: 10px;
	cursor: pointer;
	/* float: left; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	/* text-align: center; */
}
.box1 {
	margin: 10px 5px 30px 5px;
}
.message {
	font-size: 15px;
}
a.color {
	text-decoration: none;
	color: #FF9F1C;
}
::placeholder {
	color: #adadad;
	opacity: 1;
}
