@font-face {
	font-family: "Yekan";
	src: url("../../fonts/BYekan.ttf") format("truetype"),
		url("../../fonts/BYekan.eot") format("eot"),
		url("../../fonts/BYekan.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Yekan";
}
body {
	background-color: #76b852;
	padding: 200px;
}
p.txt {
	font-size: 25px;
	margin: 10px 5px;
	margin-bottom: 20px;
}
.container {
	width: 550px;
	background-color: white;
	text-align: center;
	margin: auto;
	padding: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input {
	font-size: 20px;
	/* width: 100%; */
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 5px 20px;
	padding: 30px 20px;
	outline: 0;
	color: #6e6e6e;
}
input[type="submit"] {
	background-color: #4caf50;
	color: white;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	font-size: 25px;
}

.message {
	color: #9999a8;
	font-size: 20px;
}

a.register {
	text-decoration: none;
	color: #43b624;
}

::placeholder {
	color: #adadad;
	opacity: 1; /* Firefox */
}
