<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>بررسی ایمیل</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <div class="container1">
      <p class="txt box1">لطفا کد ارسالی به ایمیل خود را وارد کنید</p>

      <div id="error-container" class="error"></div>
      <br />
      <form action="/auth/emailValidataion" method="post">
        <input name="code" type="text" autofocus /><br />
        <button
          name="submit"
          type="submit"
          id="submitButton"
          class="submit-btn"
        >
          ارسال</button
        ><br /><br /><br />
      </form>
    </div>
  </body>
</html>
