<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>txt-q</title>
    <link rel="stylesheet" href="../public/css/survay-ui.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <p class="question">بابت تکمیل فرم ازت ممنونیم</p>
        <button class="submit-btn">ارسال</button>
      </div>
    </div>
  </body>
</html>
