<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>forms</title>
		<link rel="stylesheet" href="../public/css/survay-ui.css" />
		<link rel="stylesheet" href="../public/css/responsive.css" />
		<link rel="stylesheet" href="../public/css/navbar.css" />
	</head>
	<body>
		<%- include("./navbar.ejs") %>
		<div class="container">
            <% if(forms.length == 0){ %>
			<p class="question">شما تاکنون فرمی ایجاد نکرده اید</p>
			<%}else{%> 
            <p class="question">
				برای مشاهده ی فرم های خود روی لینک ها کلیک کنید
			</p>

			<div class="row">
                <%for(form of forms){%>
				<div class="col-lg-12">
					<a href="/form/survay/<%=form.id%>"><%=form.name%></a>
				</div>
                <%}%>
			</div>
            <%}%>
			<br />
			<button class="submit-btn1 hovering1" type="submit">
				<a href="/form/form-maker">رفتن به فرم ساز</a>
			</button>
		</div>
	</body>
</html>