<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فرم ها</title>
    <link rel="stylesheet" href="../public/css/survay-ui.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
  </head>
  <body>
    <div class="container">
      <form action="" name="">
        <p class="question">شما تاکنون فرمی ایجاد نکرده اید</p>
        <p class="question">برای مشاهده ی فرم های خود روی لینک ها کلیک کنید</p>

        <div class="row">
          <div class="col-lg-12">
            <a href="">فرم اول</a>
          </div>
          <div class="col-lg-12">
            <a href="">فرم دوم</a>
          </div>
          <div class="col-lg-12">
            <a href="">فرم سوم</a>
          </div>
        </div>
        <br />
        <button class="submit-btn1 hovering1" type="submit">
          <a href="">تایید</a>
        </button>
        <br />
      </form>
    </div>
  </body>
</html>
