<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ساختن فرم</title>
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/form_maker.css" />
    <link rel="stylesheet" href="../public/css/responsive.css" />
  </head>
  <body>
    <!-- nav bar -->
    <div class="header container-fluid nav-white-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-1">
            <img
              src="../images/logo2.png"
              alt=""
              height="40px"
              width="130px"
            />
          </div>
          <div class="col-lg-9">
            <div class="nav-p-right10">
              <ul>
                <li><a href="/home" class="nav-a">خانه</a></li>
                <li>
                  <a href="/form/form-maker" class="nav-a">فرم ساز</a>
                </li>
                <li><a href="/form/forms" class="nav-a">فرم ها</a></li>
              </ul>
            </div>
          </div>
    
          <div class="col-lg-1">
            <div class="nav-left-side">
              <button class="submit-btn-nav hovering1">
                <a href="/auth/register" class="nav-a">ورود</a>
              </button>
            </div>
          </div>
    
          <div class="col-lg-1">
            <div class="nav-left-side">
              <button class="submit-btn-nav hovering1">
                <a href="/auth/register" class="nav-a">ثبت نام</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- nav bar -->
    <div class="container2">
      <p class="message">
        برای ساختن فرم، لطفا یکی از موارد زیر را انتخاب کنید
      </p>

      <div class="row">
        <div class="col-lg-4">
          <button class="btn hovering1" id="textButton">
            متنی با پاسخ کوتاه
          </button>
        </div>
        <div class="col-lg-4">
          <button class="btn hovering1" id="multi-button">چند گزینه ای</button>
        </div>
        <div class="col-lg-4">
          <button class="btn hovering1" id="upload-button">آپلود فایل</button>
        </div>
      </div>

      <div>
        <form action="/form/form-maker" method="post">
          <div>
            <input name="hiddenInput" type="hidden" value="" id="hiddenInput">
          </div>
          <div class="row">
            <div class="width50 right-side">
              <label for="form-name">نام فرم</label><br />
              <input type="text" name="form-name" required/><br />
            </div>
            <br /><br />
          </div>
          <div id="formTag"></div>
          <div id="enteshar"></div>
		</form>
      </div>

      <!-- form maker codes avalible in test.html -->

      <br /><br />
	
    <script src="../public/js/form_maker.js"></script>
  </body>
</html>
