<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>فرم ها</title>
		<link rel="stylesheet" href="../public/css/navbar.css" />
		<link rel="stylesheet" href="../public/css/survay-ui.css" />
		<link rel="stylesheet" href="../public/css/responsive.css" />
	</head>
	<body>
		<!-- nav bar -->
		<div class="header container-fluid nav-white-color">
			<div class="nav-container">
				<div class="row">
					<div class="col-lg-1">
						<img
							src="../images/logo2.png"
							alt=""
							height="40px"
							width="130px"
						/>
					</div>
					<div class="col-lg-9">
						<div class="nav-p-right10">
							<ul>
								<li><a href="/home" class="nav-a">خانه</a></li>
								<li>
									<a href="/form/form-maker" class="nav-a"
										>فرم ساز</a
									>
								</li>
								<li>
									<a href="/form/forms" class="nav-a"
										>فرم ها</a
									>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-1">
						<div class="nav-left-side">
							<button class="submit-btn-nav hovering1">
								<a href="/auth/register" class="nav-a">ورود</a>
							</button>
						</div>
					</div>

					<div class="col-lg-1">
						<div class="nav-left-side">
							<button class="submit-btn-nav hovering1">
								<a href="/auth/register" class="nav-a"
									>ثبت نام</a
								>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- nav bar -->
		<div class="container">
			<form action="" name="">
				<p class="question">شما تاکنون فرمی ایجاد نکرده اید</p>
				<p class="question">
					برای مشاهده ی فرم های خود روی لینک ها کلیک کنید
				</p>

				<div class="row">
					<div class="col-lg-12">
						<a href="">فرم اول</a>
					</div>
					<div class="col-lg-12">
						<a href="">فرم دوم</a>
					</div>
					<div class="col-lg-12">
						<a href="">فرم سوم</a>
					</div>
				</div>
				<br />
				<button class="submit-btn1 hovering1" type="submit">
					<a href="">تایید</a>
				</button>
				<br />
			</form>
		</div>
	</body>
</html>
