<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="../../responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>صفحه اصلی</title>
  </head>
  <body>
    <div class="header container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-1">
            <img
              src="../../images/logo2.png"
              alt=""
              height="40px"
              width="130px"
            />
          </div>
          <div class="col-lg-5">
            <div class="p-right10">
              <ul>
                <li><a href="/home">خانه</a></li>
                <li><a href="/form/form-maker">فرم ساز</a></li>
                <li><a href="/form/forms">فرم ها</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="left-side">
              <button class="submit-btn hovering1">
                <a href="/auth/register">ورود/ثبت نام</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-image">
      <p class="pad_bot30 title1">با فرم ساز، به راحتی فرم ایجاد کنید</p>
      <button class="start-btn hovering1">
        <a href="/form/form-maker">شروع کنید!</a>
      </button>
    </div>
    <div class="container pad_bot50">
      <p class="pad_top50 center font-size40">
        فرم ساز، نرم افزار <span class="orange">پرسشنامه آنلاین</span>
      </p>
      <div class="row">
        <div class="col-lg-6">
          <img class="img1" src="../../images/customer.svg" alt="" />
        </div>
        <div class="col-lg-6">
          <div class="box1">
            <p class="font-size30 pad_bot20">مدیریت تجربه مشتری</p>
            <p class="font-size20 pad_bot30">
              گامی فراتر از رضایت‌سنجی خدمات و مدیریت ارتباط با مشتری بردارید.
              همه‌ ابعاد کسب‌و‌کار، تجربه مشتری را رقم می‌زنند.
            </p>
            <button class="submit-btn hovering1">بیشتر بدانید</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box1">
            <p class="font-size30 pad_bot20">مدیریت تجربه کارکنان</p>
            <p class="font-size20 pad_bot30">
              کارکنان، تجربه مشتری را رقم می‌زنند و سازمان تجربه کارکنان را.
              تجربه کارکنان فراتر از تردد و حقوق دستمزد، به تعلق خاطر و توسعه
              شایستگی‌های کارکنان می‌پردازد.
            </p>
            <button class="submit-btn hovering1">بیشتر بدانید</button>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="img1" src="../../images/employee.svg" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <img class="img1" src="../../images/univercity.svg" alt="" />
        </div>
        <div class="col-lg-6">
          <div class="box1">
            <p class="font-size30 pad_bot20">پژوهش‌های دانشگاهی</p>
            <p class="font-size20 pad_bot30">
              از ساده‌ترین تا پیچیده‌ترین فرم‌ها و پرسشنامه‌های تحقیقات پیمایشی
              را راحت و سریع بسازید و تحلیل آماری آنی از داده‌های پرسشنامه
              آنلاین دریافت کنید.
            </p>
            <button class="submit-btn hovering1">بیشتر بدانید</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box1">
            <p class="font-size30 pad_bot20">تحقیقات بازار</p>
            <p class="font-size20 pad_bot30">
              بر پایه داده‌های بازار و تحلیل آن‌ها، تصمیم به سرمایه‌گذاری در
              محصول یا خدمتی جدید بگیرید.
            </p>
            <button class="submit-btn hovering1">بیشتر بدانید</button>
          </div>
        </div>

        <div class="col-lg-6">
          <img class="img1" src="../../images/market.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="footer1 container-fluid">
      <div class="container">
        <div class="row pad_top40 pad_bot50">
          <div class="col-lg-6 black-color">
            <h4>رسالت فرم ساز</h4>
            <p class="pad_top10">
              فرم ساز، نرم افزار آنلاین رایگان تحت وب است که ساخت پرسشنامه
              آنلاین، نظرسنجی آنلاین، آزمون آنلاین و فرم آنلاین را برای کاربران
              ساده، سریع و ارزان کرده است. این فرم سازانلاین، توسط معلمان،
              دانشگاه ها و مدارس و همچنین مدیران بازاریابی و تحقیقات بازار،
              مدیران منابع انسانی برای انجام نظرسنجی کارکنان و ارزیابی عملکرد
              منابع انسانی، مدیران مشتری برای انجام رضایت سنجی مشتری و سنجش
              تجربه مشتری، مدیران استارت آپ ها، مدیران IT و مدیران عامل استفاده
              می‌شود.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="box2">
              <img
                class="left-side p-right10"
                src="../../images/enamad.png"
                alt=""
              />
              <img class="left-side" src="../../images/saman.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer2 container-fluid">
      <div class="container">
        <div class="row white-color">
          <div class="col-xs-12 col-md-12 col-lg-6">
            <p>تمامی حقوق برای سایت فرم ساز محفوظ می باشد.</p>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-6 left-side">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
