<div class="header container-fluid nav-white-color">
	<div class="nav-container">
		<div class="row">
			<div class="col-lg-1">
				<img
					src="/images/logo2.png"
					alt=""
					height="40px"
					width="130px"
				/>
			</div>
			<%if(isLoggedIn){%>
			<div class="col-lg-10">
				<div class="nav-p-right10">
					<ul>
						<li><a href="/home" class="nav-a">خانه</a></li>
						<li>
							<a href="/form/form-maker" class="nav-a">فرم ساز</a>
						</li>
						<li><a href="/form/forms" class="nav-a">فرم ها</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-1 ">
				<div class="nav-left-side">
					<button class="submit-btn-nav hovering1">
						<a href="/auth/register" class="nav-a">خروج</a>
					</button>
				</div>
			</div>
			<%}else{%>	
			<div class="col-lg-1">
				<div class="nav-left-side">
					<button class="submit-btn-nav hovering1">
						<a href="/auth/login" class="nav-a">ورود</a>
					</button>
				</div>
			</div>

			<div class="col-lg-1">
				<div class="nav-left-side">
					<button class="submit-btn-nav hovering1">
						<a href="/auth/register" class="nav-a">ثبت نام</a>
					</button>
				</div>
			</div>
			<%}%>
		</div>
	</div>
</div>
