<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>بازیابی رمز عبور</title>
		<link rel="stylesheet" href="../../public/css/style.css" />
	</head>
	<body>
		<!-- nav bar -->
		<div class="container1">
			<div class="box1">
				<p class="txt">بازیابی رمز عبور</p>
			</div>

                <div id="error-container">
                </div>
				<br />
			<form
				name="reset"
				action="/auth/resetPassword"
				method="post"
				id="reset-form"
			>
				<input
					name="pass"
					type="password"
					placeholder="رمز عبور"
					id="password"
				/><br />
				<input
					name="repass"
					type="password"
					placeholder="تکرار رمز عبور"
					id="confirm-password"
				/><br />
				<button
					name="btnSubmit"
					type="submit"
					id="submitButton"
					class="submit-btn"
				>
					تغییر رمز عبور</button
				><br /><br /><br />
				<input type="hidden" name="token" value="<%=token%>" />
				<input type="hidden" name="email" value="<%=email%>" />
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			</form>
		</div>
		<script src="../../public/js/reset_password.js"></script>
	</body>
</html>
