<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>بازیابی رمز عبور</title>
		<link rel="stylesheet" href="../public/css/style.css" />
	</head>
	<body>
		<div class="container1">
			<div class="box1">
				<p class="txt">بازیابی رمز عبور</p>
			</div>

			<div id="error-container" class="error"></div>
			<br />
			<form
				name="reset"
				action="/auth/register"
				method="post"
				id="reset-form"
			>
				<input
					name="pass"
					type="password"
					placeholder="رمز عبور"
					id="password"
				/><br />
				<input
					name="repass"
					type="password"
					placeholder="تکرار رمز عبور"
					id="confirm-password"
				/><br />
				<button
					name="btnSubmit"
					type="submit"
					value="ثبت نام"
					id="submitButton"
					class="submit-btn"
				>
					بازیابی</button
				><br /><br /><br />
			</form>
		</div>
		<script src="../public/js/register.js"></script>
	</body>
</html>
