<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>موفقیت فرم</title>
		<link rel="stylesheet" href="../public/css/style.css" />
	</head>
	<body>
		<!-- nav bar -->
		<div class="container1">
			<p class="txt box1">فرم شما با موفقیت ساخته شد</p>
			<br />
			<button
				name="btnSubmit"
				type="submit"
				id="submitButton"
				class="submit-btn"
			>
				<a href="">بازگشت به خانه</a></button
			><br />
		</div>
	</body>
</html>
