<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>txt-q</title>
		<link rel="stylesheet" href="survay-ui.css" />
		<link rel="stylesheet" href="../responsive/responsive.css" />
	</head>
	<body>
		<div class="container">
            <div class="row col-lg-12">
                <p class="question">محل درج سوال</p>
                
                <form action="/action_page.php">
                    <input
                        type="file"
                        id="myFile"
                        name="upload-file"
                    >
                </form>
                <br>
                <button class="submit-btn">تایید</button><br>
            </div>
			
            <div class="col-lg-12">
                <div>
                    <button class="moving-btn">بعدی</button>
                    <button class="moving-btn">قبلی</button>
                </div>
            </div>
            
		</div>
        
	</body>
</html>
