<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>تکمیل فرم</title>
		<link rel="stylesheet" href="../public/css/survay-ui.css" />
		<link rel="stylesheet" href="../public/css/responsive.css" />
		<link rel="stylesheet" href="../public/css/style.scss" />
	</head>
	<body>
		<div class="container">
			<form action="" name="user-ui">
				<div class="row col-lg-12">
					<p class="question">محل درج سوال</p>
					<textarea
						class="txt-answer"
						name="ans1-txt"
						id=""
						cols="50"
						rows="5"
						placeholder="محل درج پاسخ..."
						autofocus
					></textarea
					><br /><br />
					<hr />
					<br />

					<p class="question">محل درج سوال</p>

					<div class="row">
						<div class="col-lg-3">
							<label class="container1"
								>گزینه اول
								<input type="radio" name="radio" />
								<span class="checkmark right"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								>گزینه دوم
								<input type="radio" name="radio" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								>گزینه سوم
								<input type="radio" name="radio" />
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								>گزینه چهارم
								<input type="radio" name="radio" />
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
        <input type="hidden" name="" value="">
				<button class="submit-btn1 hovering1" type="submit">
					تایید
				<br />
			</form>
		</div>
	</body>
</html>
