@font-face {
	font-family: "Yekan";
	src: url("../../fonts/BYekan.ttf") format("truetype"),
		url("../../fonts/BYekan.eot") format("eot"),
		url("../../fonts/BYekan.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Yekan";
}
body {
	background-color: #76b852;
	font-family: "Roboto", sans-serif;
	padding: 200px;
}
.question{
    font-size: 30px;
    margin-bottom: 30px;
}
.container {
	background-color: white;
	text-align: right;
	padding: 150px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}
.txt-answer{
	font-size: 20px;
	padding: 15px;
	border-radius: 10px;
}
.submit-btn {
	padding: 15px 60px;
	margin: 25px 0;
	font-size: 25px;
	background-color: #ffb703;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.moving-btn{
	padding: 10px 20px;
	margin: 5px;
	font-size: 20px;
	background-color: #ffb703;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	text-align: left;
	float: left;
}
input[type="file"] {
	font-size: 20px;
	padding: 10px;
}
.center{
	text-align: center;
}