@font-face {
	font-family: "Yekan";
	src: url("../../fonts/BYekan.ttf") format("truetype"),
		url("../../fonts/BYekan.eot") format("eot"),
		url("../../fonts/BYekan.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Yekan";
}
body {
	background-color: #FFBF69;
	padding: 80px;
}
.message {
	font-size: 20px;
	margin-bottom: 30px;
}
.container {
	background-color: white;
	text-align: center;
	margin: auto;
	padding: 50px 50px 100px 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}
.btn {
	padding: 10px 40px;
	font-size: 22px;
	background-color: #FF9F1C;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.hovering1:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.right-side {
	text-align: right;
	float: right;
}
.left-side {
	text-align: left;
	float: left;
}
.pad_right_5{
	margin-right: 5px;
}
label {
	font-size: 15px;
	padding: 10px;
}
input[type="text"] {
	font-size: 20px;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0px 5px 0px 5px;
	padding: 10px 15px;
	outline: 0;
	color: #6e6e6e;
	border-radius: 5px;
}
input[type="file"] {
	font-size: 20px;
	padding: 10px;
}
.submit-btn {
	font-size: 20px;
	margin: 10px 10px;
	padding: 10px 30px;
	border: none;
	background-color: #FF9F1C;
	border-radius: 10px;
	cursor: pointer;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
    border: none;
    border-top: 2px solid gainsboro;

}
legend {
    color: gray;
    padding: 5px 7px;
    /* text-align: right; */
} 
