@font-face {
	font-family: "Yekan";
	src: url("../../fonts/BYekan.ttf") format("truetype"),
		url("../../fonts/BYekan.eot") format("eot"),
		url("../../fonts/BYekan.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Yekan";
}
body {
	background-color: #76b852;
	font-family: "Roboto", sans-serif;
	padding: 200px;
}
.container {
	width: 550px;
	background-color: white;
	text-align: center;
	margin: auto;
	padding: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}