fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
    border: none;
    border-top: 2px solid gainsboro;

}
legend {
    color: gray;
    padding: 5px 7px;
    /* text-align: right; */
} 
